@import url("https://fonts.googleapis.com/css2?family=Sail&display=swap");
@import "./scroll.scss";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Sail", cursive;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  // width: 100%;
}

nav {
  width: 100vw;
  margin-right: calc(100% - 100vw);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  .left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10%;
    h1 {
      font-size: 1.5rem;
      color: #e7ca37;
    }
    img {
      width: 50px;
      margin-left: 5px;
    }
  }
  .right {
    width: 35%;
    margin-left: 55%;
    position: relative;
    .toggle {
      display: none;
      width: 40px;
      height: 40px;
      position: relative;
      left: 0;
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
    }
    .toggle::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      transform: translatey(-6px);
      background-color: #e7ca37;
      transition: 0.5s;
    }
    .toggle::after {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      transform: translatey(6px);
      background-color: #e7ca37;
      transition: 0.5s;
    }

    .toggle.active::before {
      transform: translatey(0px);
      transform: rotate(45deg);
    }
    .toggle.active::after {
      transform: translatey(0px);
      transform: rotate(-45deg);
    }

    .nav-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      li {
        color: #e7ca37;
        img {
          width: 40px;
        }
        a {
          font-size: 1.1rem;
          color: #e7ca37;
        }
      }
      p {
        font-size: 2.5rem;
        margin: 0 1.1rem;
        color: #e7ca37;
      }
    }
  }
}

.active {
  display: none;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../homepg-pt/p1.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  p {
    font-size: 4.25rem;
    color: #e7ca37;
    transform: rotate(-5deg);
    border-bottom: 2px solid #e7ca37;
  }
}

.first-section {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;

  .pictureBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .bgLeft {
      width: 50%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .bgRight {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
    }
  }

  .blackbg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    .centerText {
      h1 {
        font-size: 5rem;
        color: #e7ca37;
      }
      p {
        text-align: center;
        font-size: 2.5rem;
        color: #e7ca37;
      }
    }
  }
}

.second-section {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;

  .content {
    align-self: center;
    width: 50%;
    height: 90%;
    padding: 2rem;
    background-color: #6e6428;
    text-align: center;
    overflow-y: scroll;
    border: 3px solid #e7ca37;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
      border: 1px solid slategrey;
      border-radius: 30px;
    }

    img {
      width: 30px;
      margin-right: 0.5rem;
    }
    h1 {
      display: inline-block;
      font-size: 2rem;
      text-align: center;
      color: white;
      margin-bottom: 2rem;
    }
    p {
      line-height: 2.5rem;
      font-size: 1.25rem;
      color: white;
    }
  }
  .pic {
    align-self: center;
    width: 50%;
    height: 80%;
    padding: 1.5rem;
    img {
      margin-left: 150px;
      width: 70%;
      height: 100%;
      object-fit: cover;
      border: 1px solid #e7ca37;
    }
  }
}

.third-section {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  .pic {
    width: 100%;
    font-size: 0;
    img {
      font-size: 16px;
      width: 33.3333333%;
      height: 100%;
      object-fit: cover;
    }
  }
  .blackbg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    .centerText {
      h1 {
        font-size: 5rem;
        color: #e7ca37;
      }
      p {
        text-align: center;
        font-size: 2.5rem;
        color: #e7ca37;
      }
    }
  }
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 200vh;
  margin: auto;
  .up,
  .down {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    .unit {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 100%;
      img {
        width: 100%;
        height: 50%;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        text-align: center;
        margin: 0 3rem;
        img {
          width: 80px;
          height: 80px;
          margin-bottom: 1rem;
        }
        p {
          text-align: left;
          font-size: 1.2rem;
          color: #e7ca37;
        }
      }
    }

    .unit:nth-child(1) {
      img {
        order: 1;
      }
      .content {
        order: 2;
        img {
          order: 1;
        }
        p {
          order: 2;
        }
      }
    }
    .unit:nth-child(2) {
      img {
        order: 2;
      }
      .content {
        order: 1;
        img {
          order: 1;
        }
        p {
          order: 2;
        }
      }
    }
    .unit:nth-child(3) {
      img {
        order: 1;
      }
      .content {
        order: 2;
        img {
          order: 1;
        }
        p {
          order: 2;
        }
      }
    }
  }

  .up {
    margin-bottom: 3.5vh;
    padding: 3.5vh;
    border-bottom: 2px groove #e7ca37;
  }
}

.fifth-section {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .bg-pic {
    width: 100%;
    height: 100%;
    font-size: 0;
    img {
      font-size: 16px;
      width: calc(100% / 3);
      height: 50%;
    }
  }
  .blackbg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    .centerText {
      h1 {
        font-size: 5rem;
        color: #e7ca37;
      }
      p {
        text-align: center;
        font-size: 2.5rem;
        color: #e7ca37;
      }
    }
  }
}

.sixth-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .slider {
    width: 95%;
    height: 90%;
    overflow: hidden;
    border-radius: 60px;
    position: relative;
    .introduce {
      width: 70%;
      height: 80%;
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #3d596fa9;
      padding: 3rem;
      text-align: center;
      border-radius: 30px;
      border: 2px solid #e7ca37;
      .title {
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        img {
          width: 64px;
          height: 64px;
        }
        h1 {
          display: inline-block;
          color: white;
          font-size: 3rem;
        }
      }
      p {
        color: white;
        font-size: 2rem;
      }
    }
    .container {
      width: 600%;
      height: 100%;
      font-size: 0;
      img {
        font-size: 16px;
        width: 16.6666667%;
        height: 100%;
      }
    }

    .prev,
    .next {
      z-index: 2;
      position: absolute;
      border: none;
      background-color: #17171791;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .prev {
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .prev::before {
      content: "";
      position: absolute;
      left: 0;
      width: 40px;
      height: 3px;
      transform-origin: 0% 50%;
      transform: translateX(50%) rotate(-30deg);
      border-radius: 30px;
      background-color: #e7ca37;
    }

    .prev::after {
      content: "";
      position: absolute;
      left: 0;
      width: 40px;
      height: 3px;
      transform-origin: 0% 50%;
      transform: translateX(50%) rotate(30deg);
      border-radius: 30px;
      background-color: #e7ca37;
    }

    .next {
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .next::before {
      content: "";
      position: absolute;
      right: 0;
      width: 40px;
      height: 3px;
      transform-origin: 100% 50%;
      transform: translateX(-50%) rotate(30deg);
      border-radius: 30px;
      background-color: #e7ca37;
    }

    .next::after {
      content: "";
      position: absolute;
      right: 0;
      width: 40px;
      height: 3px;
      transform-origin: 100% 50%;
      transform: translateX(-50%) rotate(-30deg);
      border-radius: 30px;
      background-color: #e7ca37;
    }
  }
}

footer {
  width: 100%;
  height: 20vh;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  .ft-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    h1 {
      align-self: center;
      color: #e7ca37;
      font-size: 3rem;
      img {
        vertical-align: middle;
        margin-left: 1rem;
        width: 40px;
        height: 40px;
      }
    }
    p {
      font-size: 1.25rem;
      color: #e7ca37;
      margin-left: 5rem;
      margin-top: 1rem;
    }
  }
  .ft-right {
    flex-grow: 5;
    align-self: flex-end;
    flex-shrink: 5;
    p {
      text-align: end;
      font-size: 1.7rem;
      color: #e7ca37;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  nav {
    .right {
      width: 50%;
      margin-left: 40%;
    }
  }
  header {
    p {
      font-size: 4rem;
      z-index: 0;
      text-align: center;
      margin: 1rem;
    }
  }

  .second-section {
    .pic {
      img {
        width: 90%;
        margin-left: 30px;
      }
    }
  }

  footer {
    .ft-left {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .ft-right {
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    .right {
      z-index: 2;
      width: 10%;
      margin-left: 80%;
      .toggle {
        display: flex;
        margin-right: 7vw;
      }
      .toggle.active ~ ul {
        display: flex;
        width: 100vw;
      }

      .toggle.close ~ ul {
        width: 0;
      }

      .toggle.active ~ ul li:nth-of-type(1) {
        animation: navbarControllAnimeOpen 0.6s forwards;
      }
      .toggle.active ~ ul li:nth-of-type(2) {
        animation: navbarControllAnimeOpen 0.7s forwards;
      }
      .toggle.active ~ ul li:nth-of-type(3) {
        animation: navbarControllAnimeOpen 0.8s forwards;
      }

      .toggle.close ~ ul li:nth-of-type(1) {
        animation: navbarControllAnimeClose 0.8s forwards;
      }
      .toggle.close ~ ul li:nth-of-type(2) {
        animation: navbarControllAnimeClose 0.7s forwards;
      }
      .toggle.close ~ ul li:nth-of-type(3) {
        animation: navbarControllAnimeClose 0.6s forwards;
      }

      .nav-ul {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 0;
        position: absolute;
        z-index: 2;
        top: 50px;
        right: 0;
        transition: all 0.5s;
        li {
          display: flex;
          align-items: center;
          justify-content: right;
          margin-left: 1rem;
          background-color: #46422b;
          padding: 1.5rem;
          border: 1px solid #e7ca37;
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
  header {
    p {
      font-size: 3rem;
      z-index: 0;
      text-align: center;
      margin: 1rem;
    }
  }

  .second-section {
    flex-wrap: wrap;
    .content {
      height: 70vh;
      width: 100%;
    }
    .pic {
      width: 100%;
      height: 70vh;

      img {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }

  .third-section {
    .pic img:nth-child(1) {
      width: 50%;
    }
    .pic img:nth-child(2) {
      width: 50%;
    }
    .pic img:nth-child(3) {
      display: none;
    }

    .blackbg {
      .centerText {
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .fourth-section {
    height: auto;
    .up,
    .down {
      flex-direction: column;
      .unit {
        flex-direction: row;
        width: 100%;
        height: auto;
        img {
          width: 50%;
        }
        .content {
          margin-top: 2rem;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .sixth-section {
    height: auto;
    .slider {
      height: 80vh;
      margin: 3rem;
      .introduce {
        .title {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }

      .container {
        margin: 0;
      }
      .prev,
      .next {
        width: 60px;
        height: 60px;
      }

      .prev::after,
      .next::after {
        width: 30px;
      }
      .prev::before,
      .next::before {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .first-section {
    .blackbg {
      .centerText {
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .fourth-section {
    height: auto;
    .up,
    .down {
      flex-direction: column;
      .unit {
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
          width: 100%;
        }
        .content {
          margin-top: 2rem;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .unit:nth-child(n) {
        img {
          order: 1;
        }
        .content {
          order: 2;
          margin: 1rem 0;
        }
      }
    }
  }

  .fifth-section {
    .bg-pic {
      img {
        width: 50%;
      }

      img:nth-child(n + 5) {
        display: none;
      }
    }

    .blackbg {
      .centerText {
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .sixth-section {
    .slider {
      height: 70vh;
      .introduce {
        .title {
          img {
            width: 50px;
            height: 50px;
          }
          h1 {
            font-size: 1.7rem;
          }
        }
        p {
          font-size: 1rem;
        }
      }
      .prev,
      .next {
        width: 40px;
        height: 40px;
      }

      .prev::after,
      .next::after {
        width: 20px;
      }
      .prev::before,
      .next::before {
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .sixth-section {
    .slider {
      height: 50vh;
      margin: 1rem;
      .introduce {
        .title {
          img {
            width: 20px;
            height: 20px;
          }
          h1 {
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 0.5rem;
        }
      }
    }
  }

  footer {
    .ft-left {
      h1 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.6rem;
      }
    }
    .ft-right {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@keyframes navbarControllAnimeOpen {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes navbarControllAnimeClose {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    display: none;
  }
}
