@import url("https://fonts.googleapis.com/css2?family=Sail&display=swap");
@import "./scroll.scss";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Sail", cursive;
  box-sizing: border-box;
}

:root {
  --order: 1;
}

nav {
  width: 100vw;
  margin-right: calc(100% - 100vw);
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #000000d8;
  top: 0;
  z-index: 1000;
  .left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10%;
    h1 {
      font-size: 1.5rem;
      color: #e7ca37;
    }
    img {
      width: 50px;
      margin-left: 5px;
    }
  }
  .right {
    width: 35%;
    margin-left: 55%;
    position: relative;
    .toggle {
      display: none;
      width: 40px;
      height: 40px;
      position: relative;
      left: 0;
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
    }
    .toggle::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      transform: translatey(-6px);
      background-color: #e7ca37;
      transition: 0.5s;
    }
    .toggle::after {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      transform: translatey(6px);
      background-color: #e7ca37;
      transition: 0.5s;
    }

    .toggle.active::before {
      transform: translatey(0px);
      transform: rotate(45deg);
    }
    .toggle.active::after {
      transform: translatey(0px);
      transform: rotate(-45deg);
    }

    .nav-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      li {
        font-size: 1.1rem;
        color: #e7ca37;
        img {
          width: 40px;
        }
        a {
          font-size: 1.1rem;
          color: #e7ca37;
        }
      }
      p {
        font-size: 2.5rem;
        margin: 0 1.1rem;
        color: #e7ca37;
      }
    }
  }
}

.active {
  display: none;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../page2-pt/p3.jpg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  .innerbg {
    width: 70%;
    height: 100vh;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    background-image: radial-gradient(
      circle,
      rgba(139, 75, 27, 1) 0%,
      rgba(198, 111, 45, 1) 43%,
      rgba(52, 24, 3, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3.5rem;
    h1 {
      font-size: 5rem;
      align-self: flex-start;
      color: #e7ca37;
    }
    p {
      font-size: 3rem;
      color: #e7ca37;
    }
  }
}

.section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    120deg,
    rgb(80, 52, 10) 0%,
    rgba(162, 91, 0, 1) 38%,
    rgba(217, 140, 43, 1) 72%,
    rgba(255, 171, 75, 0.9026961126247374) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .topText {
    margin-top: 1.5rem;
    h1 {
      font-size: 5rem;
      color: white;
    }
  }
  .downCard {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 50%;
    align-items: center;
    .card {
      width: 33.33%;
      height: 90%;
      border-radius: 30px;
      margin: 0 1rem;
      transition: all 0.5s ease-in-out;
      transform: rotateY(-180deg);
      text-align: center;
      .img {
        display: inline-block;
        margin-top: 3rem;
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: all 0.8s ease-in-out;
      }
      h1 {
        display: none;
        font-size: 3.5rem;
        color: white;
        margin-bottom: 1rem;
        text-align: center;
        transition: all 0.7s ease-in-out;
      }
      p {
        display: none;
        font-size: 1.5rem;
        color: white;
        background-color: #5e452d;
        height: 70%;
        text-align: left;
        padding: 1rem;
        line-height: 2.2rem;
        transition: all 0.7s ease-in-out;
      }
    }

    .card:hover {
      box-shadow: 1px 24px 41px -5px rgba(22, 13, 1, 0.75);
      transform: scale(1.15) rotateY(0deg);
      .img {
        display: none;
      }
      h1 {
        display: block;
      }
      p {
        display: block;
      }
    }

    .card:nth-child(1) {
      background-color: #9b4f05;
      padding: 1.5rem;
      .img {
        background-image: url(../page2-pt/p4.jpg);
      }
    }
    .card:nth-child(2) {
      background-color: #7d5229;
      padding: 1.5rem;
      .img {
        background-image: url(../page2-pt/p5.jpg);
      }
    }
    .card:nth-child(3) {
      background-color: #381f06;
      padding: 1.5rem;
      .img {
        background-image: url(../page2-pt/p6.jpg);
      }
    }
  }
}

.section-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      155deg,
      transparent 0% 50%,
      rgba(198, 111, 45, 1) 50%,
      rgba(139, 75, 27, 1) 75%,
      rgba(52, 24, 3, 1) 100%
    ),
    url(../page2-pt/p1.jpg);
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  .text {
    width: 40vw;
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 5rem;
      color: white;
      align-self: flex-start;
    }
    p {
      font-size: 3rem;
      color: white;
      align-self: flex-end;
    }
  }
}

.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .cd {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: calc(100% / 6);
    flex-shrink: 1;
    height: 100%;
    transition: all 0.5s;
    p {
      align-self: center;
      margin-top: 20vh;
      font-size: 5rem;
      width: 5rem;
      color: white;
    }
    .content {
      display: none;
      align-self: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 3px solid #e9ab00;
      border-radius: 30px;
      margin-top: 1rem;
      width: 90%;
      background-color: #ffc582;
    }
  }

  .cd:hover {
    cursor: pointer;
  }

  .cd.open {
    width: 70%;
    p {
      margin-top: 5vh;
      width: auto;
    }
    .content {
      display: none;
      flex-direction: column;
      padding: 2rem;
      .row {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 1.5rem;
          color: #471f00;
          border-bottom: 1px solid #9b4200;
        }
        p {
          font-size: 1rem;
          background-color: #fd951ed8;
          width: 100%;
          padding: 1rem;
          margin: 1rem 0;
          color: #471f00;
          border-radius: 20px;
        }
      }
    }
    .content.dis-flex {
      display: flex;
    }
  }
  .cd.close p {
    font-size: 4rem;
    width: 4rem;
  }

  .cd:nth-child(1) {
    background-color: #341803;
    transition: all 0.3s;
  }
  .cd:nth-child(2) {
    background-color: #512708;
    transition: all 0.5s;
  }
  .cd:nth-child(3) {
    background-color: #652c02;
    transition: all 0.7s;
  }
  .cd:nth-child(4) {
    background-color: #7c3501;
    transition: all 0.9s;
  }
  .cd:nth-child(5) {
    background-color: #9b4200;
    transition: all 1.1s;
  }
  .cd:nth-child(6) {
    background-color: #e86c0f;
    transition: all 1.3s;
  }
}

.section-4 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      155deg,
      transparent 0% 50%,
      rgba(198, 111, 45, 1) 50%,
      rgba(139, 75, 27, 1) 75%,
      rgba(52, 24, 3, 1) 100%
    ),
    linear-gradient(
      90deg,
      rgba(0, 163, 255, 0.5) 0% 20%,
      rgba(61, 26, 0, 0.5) 20% 40%,
      rgba(253, 187, 45, 0.5) 40% 60%,
      rgba(255, 255, 255, 0.75) 60% 80%,
      rgba(255, 255, 255, 0.5) 80% 100%
    ),
    url(../page2-pt/p2.jpg);
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  .text {
    width: 40vw;
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 5rem;
      color: white;
      align-self: flex-start;
    }
    p {
      font-size: 4rem;
      color: white;
      align-self: flex-end;
    }
  }
}

.section-5 {
  background-color: #562c03;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .topdiv {
    height: 20%;
    display: flex;
    .tick {
      display: flex;
      align-items: center;
      margin: 1rem;
      .color {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #5e452d;
      }
      p {
        margin-left: 1rem;
        font-size: 2rem;
        color: white;
      }
    }

    .tick:nth-child(1) {
      .color {
        background-color: #0e668e;
      }

      transition: all 0.4s;
    }

    .tick:nth-child(2) {
      .color {
        background-color: #341803;
      }

      transition: all 0.7s;
    }

    .tick:nth-child(3) {
      .color {
        background-color: #ffffff;
      }

      transition: all 1s;
    }

    .tick:nth-child(4) {
      .color {
        background-color: #ffffffc4;
      }

      transition: all 1.3s;
    }

    .tick:nth-child(5) {
      .color {
        background-color: #783d03;
      }

      transition: all 1.6s;
    }

    .tick:nth-child(6) {
      .color {
        background-color: #ffaf60;
      }

      transition: all 1.9s;
    }
  }

  .bottomdiv {
    display: flex;
    width: 100%;
    height: 80%;

    .select {
      padding: 2rem;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 4rem;
        color: white;
        margin-bottom: 1rem;
      }

      .items {
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #391e03;

        .oneItem {
          width: calc(100% / 3);
          flex-grow: 1;
          align-self: stretch;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            display: block;
            height: 50%;
            text-align: center;
            font-size: 3rem;
            color: white;
          }
        }

        .oneItem:active {
          background-color: #e9ab00;
        }

        .oneItem:nth-child(n) {
          border: 1px solid #e7ca37;
        }

        .oneItem:nth-child(1) {
          border-top-left-radius: 30px;
        }

        .oneItem:nth-child(3) {
          border-top-right-radius: 30px;
        }

        .oneItem:nth-child(7) {
          border-bottom-left-radius: 30px;
        }

        .oneItem:nth-child(9) {
          border-bottom-right-radius: 30px;
        }
      }
    }

    .percent {
      padding: 2rem;
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 4rem;
        color: white;
        margin-bottom: 1rem;
      }

      .percentbox {
        width: 50%;
        height: 80%;
        border: 5px solid black;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-top: none;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        .expresso {
          flex-grow: 0;
          width: 100%;
          background-color: #341803;
          border-bottom-left-radius: 100px;
          border-bottom-right-radius: 100px;
          transition: all 0.3s;
        }

        .water {
          flex-grow: 0;
          width: 100%;
          background-color: #0e668e;
          transition: all 0.4s;
        }

        .milk {
          flex-grow: 0;
          width: 100%;
          background-color: #ffffff;
          transition: all 0.5s;
        }

        .milkFroth {
          flex-grow: 0;
          width: 100%;
          background-color: #cec2b6;
          transition: all 0.6s;
        }

        .chocolate {
          flex-grow: 0;
          width: 100%;
          background-color: #783d03;
          transition: all 0.7s;
        }

        .freshCream {
          flex-grow: 0;
          width: 100%;
          background-color: #ffaf60;
          transition: all 0.8s;
        }
      }
      .percentbox::after {
        content: "";
        flex-grow: var(--order);
        width: 100%;
        background-color: transparent;
      }
    }
  }
}

footer {
  width: 100%;
  height: 20vh;
  background-color: #4d3e34;
  display: flex;
  justify-content: center;
  align-items: center;
  .ft-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    h1 {
      align-self: center;
      color: #e7ca37;
      font-size: 3rem;
      img {
        vertical-align: middle;
        margin-left: 1rem;
        width: 40px;
        height: 40px;
      }
    }
    p {
      font-size: 1.25rem;
      color: #e7ca37;
      margin-left: 5rem;
      margin-top: 1rem;
    }
  }
  .ft-right {
    flex-grow: 5;
    align-self: flex-end;
    flex-shrink: 5;
    p {
      text-align: end;
      font-size: 1.7rem;
      color: #e7ca37;
      margin-bottom: 1rem;
      padding-right: 1rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  nav {
    .right {
      width: 50%;
      margin-left: 40%;
    }
  }

  footer {
    .ft-left {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .ft-right {
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    .right {
      z-index: 2;
      width: 10%;
      margin-left: 80%;
      .toggle {
        display: flex;
        margin-right: 7vw;
      }
      .toggle.active ~ ul {
        display: flex;
        width: 100vw;
      }

      .toggle.close ~ ul {
        width: 0;
      }

      .toggle.active ~ ul li:nth-of-type(1) {
        animation: navbarControllAnimeOpen 0.6s forwards;
      }
      .toggle.active ~ ul li:nth-of-type(2) {
        animation: navbarControllAnimeOpen 0.7s forwards;
      }
      .toggle.active ~ ul li:nth-of-type(3) {
        animation: navbarControllAnimeOpen 0.8s forwards;
      }

      .toggle.close ~ ul li:nth-of-type(1) {
        animation: navbarControllAnimeClose 0.8s forwards;
      }
      .toggle.close ~ ul li:nth-of-type(2) {
        animation: navbarControllAnimeClose 0.7s forwards;
      }
      .toggle.close ~ ul li:nth-of-type(3) {
        animation: navbarControllAnimeClose 0.6s forwards;
      }

      .nav-ul {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 0;
        position: absolute;
        z-index: 2;
        top: 50px;
        right: 0;
        transition: all 0.5s;
        li {
          display: flex;
          align-items: center;
          justify-content: right;
          margin-left: 1rem;
          background-color: #46422b;
          padding: 1.25rem;
          border: 1px solid #e7ca37;
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        p {
          display: none;
        }
      }
    }
  }

  .section-1 {
    .downCard {
      .card {
        .img {
          margin-top: 0;
          width: 100px;
          height: 100px;
        }
        h1 {
          font-size: 2.5rem;
        }
        p {
          overflow-y: scroll;
          font-size: 1.5rem;
        }
      }
    }
  }

  .section-2 {
    .text {
      width: 50%;
      h1 {
        font-size: 4.5rem;
      }
    }
  }

  .section-3 {
    flex-direction: column;
    height: auto;
    .cd {
      height: 20vh;
      width: 100%;
      border-top: 2px solid #e7ca37;
      border-bottom: 2px solid #e7ca37;
      transition: all 0.5s;
      p {
        text-align: center;
        font-size: 3rem;
        width: 100%;
        margin-top: 0;
      }
    }

    .cd.open {
      height: auto;
      width: 100%;
      .content {
        margin: 1rem 0;
        .row {
          margin: 0;
          width: 100%;
          h1 {
            margin: 0;
          }
          p {
            margin: 5px;
          }
        }
      }
    }

    .cd.close {
      p {
        font-size: 3rem;
        width: auto;
      }
    }
  }

  .section-4 {
    .text {
      width: 50%;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 2.5rem;
      }
    }
  }

  .section-5 {
    height: auto;
    .topdiv {
      flex-wrap: wrap;
      height: 40vh;
      .tick {
        .color {
          width: 40px;
          height: 40px;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
    .bottomdiv {
      flex-direction: column;
      align-items: center;
      .select {
        margin: 1rem;
        width: 90%;
        height: 70vh;
        .title {
          font-size: 3rem;
        }
        .items {
          .oneItem {
            p {
              font-size: 2rem;
            }
          }
        }
      }
      .percent {
        margin: 1rem;
        width: 90%;
        height: 70vh;
        .title {
          font-size: 3rem;
        }
        .percentbox {
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-1 {
    height: auto;
    .topText {
      h1 {
        font-size: 3.5rem;
      }
    }
    .downCard {
      flex-direction: column;
      margin-top: 10%;
      .card {
        margin: 3rem 0;
        width: 80%;
        .img {
          width: 150px;
          height: 150px;
        }
        h1 {
          font-size: 2rem;
        }
        p {
          overflow-y: scroll;
          font-size: 1rem;
        }
      }
    }
  }

  .section-2 {
    .text {
      width: 50%;
      h1 {
        font-size: 4rem;
      }
    }
  }

  .section-4 {
    .text {
      width: 60%;
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }

  .section-5 {
    .topdiv {
      height: 30vh;
    }
    .bottomdiv {
      .select {
        height: 60vh;
      }
      .percent {
        height: 60vh;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    .innerbg {
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
  .section-1 {
    .topText {
      h1 {
        font-size: 3rem;
      }
    }
  }

  .section-2 {
    .text {
      width: 60%;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }

  .section-4 {
    .text {
      width: 70%;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }

  .section-5 {
    .bottomdiv {
      .select {
        width: 100%;
        height: 50vh;
        .title {
          font-size: 2rem;
        }
        .items {
          .oneItem {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .percent {
        .title {
          font-size: 2rem;
        }
        height: 50vh;
      }
    }
  }
}

@keyframes navbarControllAnimeOpen {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes navbarControllAnimeClose {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    display: none;
  }
}
